 .navi{
    background: linear-gradient(to right,rgb(84, 53, 196),rgb(175, 152, 255));
 }
 a{
    color: wheat;
    text-decoration:none; 
    
 } 
 a:hover{
    color: rgba(150, 79, 216, 0.805);
   }
   .sun {
    animation: roll 20s linear infinite;
    width: 310px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
   } 
   
   @keyframes roll {
      from {
         transform: rotate(0deg);
       }
       to {
         transform: rotate(360deg);
       }
  }
.cold{
/* mix-blend-mode: screen; */
border-radius: 51px 51px 51px;
  }
  #sumit{
   height: 35rem;
   width: 35rem;
  }
/*----------------------------------*/ 
.skilll{
   display: flex;
   flex-direction: initial;
   transition: all 2s;
}

.skil{
   animation: slideInFromLeft 1s ease-out forwards;
   border-radius: 23px 23px 23px 23px;
}

.skil:hover{
 transform: scale(1.2);
 box-shadow: 3px 1px 8px 7px skyblue;
}

@keyframes slideInFromLeft {
   0% {
     transform: translateX(-100%);
     opacity: 0;
   }
   100% {
     transform: translateX(0);
     opacity: 1;
   }
}
.hashtag{
   display:inline;
   color: blue;
} 
#contact{
   background-color: rgb(9, 23, 57);
}
@media screen and (max-width: 360px) {
   .profile {
      margin-top: 40% !important;
       width: 100% !important;
       height: auto !important;
   }
}
@media screen and (max-width: 360px) {
.pro {
      
       width: 100% !important;
       height: auto !important;
   }
}
.proj:hover{
   background-color: rgb(7, 19, 56);
}
.myphoto{
   margin-top: 3rem;
}